body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button:hover {
  outline: transparent;
  border: none;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; /* 靠近上方 */
  padding-bottom: 24px; /* 增加下方空間 */
}
/* .h1 {
  justify-content: center;
  align-items: center;
} */
.game-board {
  display: flex;
  flex-direction: column;
  position: relative;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
}

.hidden {
  background-color: #919191;
  color: #bbb;
}
.hidden:hover {
  background-color: #bbb;
}

.revealed {
  background-color: #ddd;
  color: #333;
}

.flagged {
  background-color: #bbb;
  color: #333;
}

.mine,
.flag {
  color: red;
}

.over {
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: #bbbbbb80;
  color: black;
}

.over button {
  opacity: 1;
  font-weight: bold;
  font-size: 24px;
  background-color: #76b525;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.restart {
  background-color: #f46608;
}

.mine-image {
  width: 20px;
  height: 20px;
  display: block;
  margin: auto;
}

.info {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  justify-content: center; /* 垂直置中 */
  align-items: center; /* 水平置中 */
  text-align: center; /* 文字置中 */
  margin-top: 8px; /* 與上方的間距 */
  gap: 16px; /* 各行文字的間隔，調整為所需的值 */
}

.info h1 {
  margin: 0; /* 去掉額外間距 */
  margin-bottom: 10px; /* 與下一行的間距 */
}

.info p {
  margin: 0;
  margin-bottom: 2px;
}

.info button {
  /* margin: 0; */
  margin-bottom: 12px;
}

.mine-hit {
  background-color: red; /* 將底色設為紅色 */ /* 只影響被點擊的地雷 */
  animation: shake 0.5s; /* 可選：添加震動動畫以加強效果 */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
